<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.11" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.Oracle" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net40" />
</packages>