<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <add key="Levismad.COBOL.hostName" value="http://ip/"/>
    <add key="Levismad.COBOL.ambiente" value="pagina.php&amp;parametro="/>

    <add key="Levismad.COBOL.banco" value=""/>
    <add key="Levismad.COBOL.usuario" value=""/>
    <add key="Levismad.COBOL.senha" value=""/>

    <add key="DefaultCulture" value="pt-BR"/>
    <add key="ExternalizarExcecao" value="true"/>
  </appSettings>
  <connectionStrings>
    <!-- Desenvolvimento-->
    <add name="conexao_desenvolvimento" connectionString="connectionString"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Levismad.Objetos.Servico1" behaviorConfiguration="defaulthttpsbehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="Levismad.Contratos.Interfaces.IServico1"/>
      </service>
      <service name="Levismad.Objetos.Servico2" behaviorConfiguration="defaulthttpsbehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="Levismad.Contratos.Interfaces.IServico2"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="soapServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="400" maxConcurrentInstances="400"/>
        </behavior>
        <behavior name="defaulthttpsbehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="soapServiceBehavior">
          <enableWebScript/>
        </behavior>

      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" bindingConfiguration="secureHttpBinding" scheme="https"/>
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="DefaultExceptionPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add logCategory="Erros" eventId="200" severity="Error" title="Exceção Inesperada - Levismad" priority="0" useDefaultLogger="false" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Exception Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\\inetpub\\wwwroot\\LevismadWCF\\trace_wcf.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>